<div class="cf">
  <div class="fl w-100 ph3">
    <h3>Submit Story</h3>
    <%= render :partial => "stories/submission_guideline" %>
  </div>
</div>

<div class="cf pb3">
  <div class="fl w-100 ph3">
    <%= form_for @story do |f| %>
      <%= render :partial => "stories/form",
          :locals => { :story => @story,
          :f => f } %>
      <div class="cf mb3">
        <div class="fl w-20 white">Submit
        </div>
        <div class="fl w-80 measure">
          <%= submit_tag "Submit Story", :class => "pv1 ph2 mr3" %>
        </div>
      </div>
    <% end %>

  </div>
</div>

