<div class="cf pb3">
  <div class="fl w-100 ph3">
    <h2 class="mv2">Submit a Story</h2>
  </div>
</div>

<div class="cf pb3">
  <div class="fl w-100 ph3">
    <%= form_for @story do |f| %>
      <%= render :partial => "stories/form",
          :locals => { :story => @story,
          :f => f } %>

      <%= submit_tag "Submit" %>
    <% end %>
  </div>
</div>

<div class="box" id="story_box">


  <div id="story_holder">

  </div>
</div>

<div id="story_preview">
  <% if @story.previewing && @story.valid? %>
    <%= render :template => "stories/show" %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    <% if !@story.previewing %>
      $("#story_url").focus();
    <% end %>
  });
</script>
