<div class="cf">
  <div class="fl w-100">
    <div class="cf">
      <div class="fl w-50 ph3">
        <h4 class="mv2">Tags</h4>
      </div>
      <div class="fl w-50 ph3 tr">
        <% is_admin = @user.try(:is_admin?) %>
        <% if is_admin %>
          <%= link_to 'Create new tag', new_tag_path, { :class=>"link underline-hover dib mv2" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="cf pb3">
  <div class="fl w-100 ph3">
    <p>List of available tags:</p>
    <ol class="pl3">
      <% @tags.each do |tag| %>
        <li class="mb3">
          <p>
          <%= link_to tag.tag, tag_path(tag),
          :class => "tag",
          :style => "background-color:" + tag.background_color + "; color:" + tag.text_color
          %>
          <% if tag.description.present? %>
          - <%= tag.description %>
          <% end %>
          <% if is_admin %>
          | <%= link_to "Edit",
              is_admin ? edit_tag_path(tag.id) : tag_path(tag),
              :class => "link underline-hover tag-%s" % tag.id %>
          <% end %>
          </p>
        </li>
      <% end %>
    <ol>
  </div>
</div>

