<div class="cf pb3">
  <div class="fl w-100 ph3">
    <h4 class="mv2">Create tag</h4>
  </div>
</div>

<div class="cf pb3">
  <div class="fl w-100 ph3">
    <%= render partial: 'form' %>
  </div>
</div>

