/*
 * Include all dependencies from {vendor,libs}/assets
 *= require tachyons
 *= require typography
 *= require navigation
 *= require notification
 *= require fontawesome.all
 *= require link
 *= require tag
 *= require avatar
 */

a.domain {
  text-decoration: none;
  font-weight: 400;
}

.voting-column {
  min-width: 28px;
}
