/*
 * Include all dependencies from {vendor,libs}/assets
 *= require tachyons
 *= require typography
 *= require navigation
 *= require notification
 *= require fontawesome.all
 *= require link
 */

/* Tags */
.tags > a {
  background-color: #fafafa;
  border: 1px solid #ccc;
  padding: 3px;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 9pt;
  font-weight: 400;
}

a.domain {
  text-decoration: none;
  font-weight: 400;
}

.voting-column {
  min-width: 24px;
  margin-right: 12px;
}

/* avatar */
img.avatar {
  margin-bottom: -5px;
}
img.avatar {
  border-radius: 8px;
  height: 16px;
  margin-bottom: 2px;
  margin-right: 2px;
  vertical-align: middle;
  width: 16px;
}
