/*
 * Include all dependencies from {vendor,libs}/assets
 *= require tachyons
 *= require typography
 *= require navigation
 *= require notification
 *= require fontawesome.all
 *= require link
 *= require tag
 */

a.domain {
  text-decoration: none;
  font-weight: 400;
}

.voting-column {
  min-width: 28px;
}

/* avatar */
img.avatar {
  margin-bottom: -5px;
}
img.avatar {
  border-radius: 8px;
  height: 16px;
  margin-bottom: 2px;
  margin-right: 2px;
  vertical-align: middle;
  width: 16px;
}
