/*
 * Include all dependencies from {vendor,libs}/assets
 *= require tachyons
 *= require typography
 *= require navigation
 *= require notification
 *= require form
 *= require selectize.default
 *= require fontawesome.all
 *= require link
 *= require tag
 */

/* Customize the form appearance */
.selectize-input {
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0px;
  box-shadow: none;
}

.selectize-input.focus {
  border-radius: 0px;
  box-shadow: none;
}

.selectize-control.multi .selectize-input [data-value],
.selectize-control.multi .selectize-input [data-value].active {
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  background-color: #fafafa;
  background-image: none;
}

.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  background-color: #fafafa;
  border-bottom-color: #bbb;
  border: 1px solid #ccc;
  color: #333333;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  border-left: 1px solid #ccc;
}
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #ccc;
}
.selectize-control.multi .selectize-input > div.active {
  background: #fafafa;
  color: #333;
  border: 1px solid #ccc;
}

/* #story_title,
#story_url,
#story_description,
.selectize-input > input {
  font-size: 16px;
}

@media (--breakpoint-not-small) {
  #story_title,
  #story_url,
  #story_description,
  .selectize-input > input {
    font-size: 10pt;
  }
} */

pre {
  overflow: auto;
  padding: 16px;
  font-size: 12px;
  line-height: 18px;
}
